body{
    color: blueviolet;
    background: pink;
    margin: 0px;
    font-family: "Playwrite GB S", cursive;
    margin-bottom: 100px;
}

.chamada{
    background: rgb(206, 152, 161);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}